# Service
SERVICE_NAME=template-serverless-service
ENVIRONMENT=development
LOG_LEVEL=info

# AWS
AWS_REGION=us-east-1

# AWS Cognito
AWS_COGNITO_REGION=us-east-1
AWS_COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
AWS_COGNITO_APP_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx

# DynamoDB
DYNAMODB_TABLE_NAME=template-serverless-table

# S3
S3_BUCKET_NAME=template-serverless-bucket
